body{
background: radial-gradient(circle at top left, #4f1e0b, #2d1409);
color:#f5f5f5;
text-align:center;
display:flex;
flex-direction:column;
justify-content:center;
animation:backgroundshift 10s ease infinite;
}

@keyframes bbackgroundshift{
   0%{
    background-position:0% 50%;
   }
    50%{
    background-position:100% 50%;
   }
    100%{
    background-position:0% 50%;
   }
}